:root {
  /* BASE COLORS */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(360, 100%, 100%);

  /* BRAND COLORS */
  --color-brand-1: hsl(209, 45%, 90%);
  --color-brand-2: hsl(189, 99%, 33%);
  --color-brand-3: hsl(194, 41%, 23%);
  --color-brand-4: hsl(182, 45%, 15%);
  --color-brand-5: hsl(196, 58%, 11%);
  --color-brand-6: hsl(182, 73%, 7%);

  /* GRAYS */
  --color-gray-1: hsl(0, 0%, 98%);
  --color-gray-2: hsl(0, 15%, 90%);
  --color-gray-3: hsl(0, 0%, 60%);
  --color-gray-4: hsl(0, 0%, 30%);
  --color-gray-5: hsl(0, 0%, 11%);

  /* MISC */
  --color-link: hsl(165, 100%, 39%);

  /* FONT FAMILIES */
  --font-muli: 'Muli', sans-serif;
  --font-maven: 'Maven Pro', sans-serif;

  /* FONT WEIGHTS */
  --weight-regular: 400;
  --weight-semi-bold: 500;
  --weight-extra-bold: 700;

  /* GLOBAL MEASUREMENTS */


  /* TRANSITION */
  --global-transition: .3s ease;
}